In [28]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import re
import nltk
# Additional modules
import sys

# Data visualisation 
import matplotlib.pyplot as plt
import seaborn as sns

from numpy import sqrt

In [29]:
X = pd.read_excel('model_features.xlsx')
Y = pd.read_excel('target_features.xlsx')

In [30]:
X

                                                 body_en
0      The Reserve Bank of India (RBI) has taken a cl...
1      New Delhi: Finance Minister Arun Jaitley will ...
2      Cuttack: In the second ODI match against Engla...
3      Islamabad: Pakistan released international ter...
4      Despite being busy with a series of films as a...
...                                                  ...
19179  Moody's, S&P plan to check Moscow: India-Russi...
19180  The killing of an RSS worker in broad daylight...
19181  Islamabad: Pakistan plans to ban 'Facebook', w...
19182  A Republican member, four officers injuredAlex...
19183  Thane: Police have seized bundles of canceled ...

[19184 rows x 1 columns]

In [31]:
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
ps = PorterStemmer()
stop_words=stopwords.words('english')

def stem():
    corpus = []
    i = 0
    for each in X["body_en"]:
        a = each
        try:
            sentence = re.sub(r'[^a-zA-Z]', ' ', str(a)).lower()
            sentence = word_tokenize(sentence)
            #print("Split")
            if(len(sentence) > 0):
                #print("Len")
                for word in sentence:
                    #print("Each word")
                    if word not in list(stop_words) and word.isalpha():
                        #print("Word not in stop word " + word)
                        #skip_stop_words.append(str_element)
                        if(ps.stem(word) not in corpus):
                            corpus.append(ps.stem(word))
                #print(each)
            X["body_en"][i] = corpus
            #print(corpus)
            corpus = []
        except Exception as err:
            print(f"Unexpected {err=}, {type(err)=}")
            #sentence = re.sub(r'[^a-zA-Z]', ' ', each).lower()
            #sentence = word_tokenize(each)
            #model_features["body_en"][i] = sentence
        i += 1

In [32]:
stem()

In [33]:
X

                                                 body_en
0      [reserv, bank, india, rbi, taken, close, look,...
1      [new, delhi, financ, minist, arun, jaitley, me...
2      [cuttack, second, odi, match, england, indian,...
3      [islamabad, pakistan, releas, intern, terroris...
4      [despit, busi, seri, film, star, hero, today, ...
...                                                  ...
19179  [moodi, p, plan, check, moscow, india, russia,...
19180  [kill, rss, worker, broad, daylight, thrissur,...
19181  [islamabad, pakistan, plan, ban, facebook, hos...
19182  [republican, member, four, offic, injuredalexa...
19183  [thane, polic, seiz, bundl, cancel, old, rs, n...

[19184 rows x 1 columns]

In [34]:
Y

       Classification
0                   1
1                   1
2                   1
3                   0
4                   1
...               ...
19179               1
19180               0
19181               0
19182               1
19183               1

[19184 rows x 1 columns]

In [35]:
X

                                                 body_en
0      [reserv, bank, india, rbi, taken, close, look,...
1      [new, delhi, financ, minist, arun, jaitley, me...
2      [cuttack, second, odi, match, england, indian,...
3      [islamabad, pakistan, releas, intern, terroris...
4      [despit, busi, seri, film, star, hero, today, ...
...                                                  ...
19179  [moodi, p, plan, check, moscow, india, russia,...
19180  [kill, rss, worker, broad, daylight, thrissur,...
19181  [islamabad, pakistan, plan, ban, facebook, hos...
19182  [republican, member, four, offic, injuredalexa...
19183  [thane, polic, seiz, bundl, cancel, old, rs, n...

[19184 rows x 1 columns]

In [36]:
X = pd.read_excel('model_features.xlsx')
Y = pd.read_excel('target_features.xlsx')

from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
ps = PorterStemmer()
stop_words=stopwords.words('english')

def stem():
    corpus = []
    i = 0
    for each in X["body_en"]:
        a = each
        try:
            sentence = re.sub(r'[^a-zA-Z]', ' ', str(a)).lower()
            sentence = word_tokenize(sentence)
            #print("Split")
            if(len(sentence) > 0):
                #print("Len")
                for word in sentence:
                    #print("Each word")
                    if word not in list(stop_words) and word.isalpha():
                        #print("Word not in stop word " + word)
                        #skip_stop_words.append(str_element)
                        if(ps.stem(word) not in corpus):
                            corpus.append(ps.stem(word))
                #print(each)
            X["body_en"][i] = corpus
            #print(corpus)
            corpus = []
        except Exception as err:
            print(f"Unexpected {err=}, {type(err)=}")
            #sentence = re.sub(r'[^a-zA-Z]', ' ', each).lower()
            #sentence = word_tokenize(each)
            #model_features["body_en"][i] = sentence
        i += 1

In [37]:
stem()

In [38]:
X

                                                 body_en
0      [reserv, bank, india, rbi, taken, close, look,...
1      [new, delhi, financ, minist, arun, jaitley, me...
2      [cuttack, second, odi, match, england, indian,...
3      [islamabad, pakistan, releas, intern, terroris...
4      [despit, busi, seri, film, star, hero, today, ...
...                                                  ...
19179  [moodi, p, plan, check, moscow, india, russia,...
19180  [kill, rss, worker, broad, daylight, thrissur,...
19181  [islamabad, pakistan, plan, ban, facebook, hos...
19182  [republican, member, four, offic, injuredalexa...
19183  [thane, polic, seiz, bundl, cancel, old, rs, n...

[19184 rows x 1 columns]

In [39]:
Y

       Classification
0                   1
1                   1
2                   1
3                   0
4                   1
...               ...
19179               1
19180               0
19181               0
19182               1
19183               1

[19184 rows x 1 columns]

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer
def text_representation(data):
    tfidf_vect = TfidfVectorizer()
    data["body_en"] = data["body_en"].apply(lambda text: " ".join(set(text)))
    X_tfidf = tfidf_vect.fit_transform(data['body_en'])
    #print(X_tfidf.shape)
    #print(tfidf_vect.get_feature_names())
    X_tfidf = pd.DataFrame(X_tfidf.toarray())
    return X_tfidf
#apply the TFIDV function
X_tfidf = text_representation(X)

In [41]:
X_tfidf

,0,1,2,3,4,5,6,7,8,9,...,41726,41727,41728,41729,41730,41731,41732,41733,41734,41735
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19182,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19183,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
# from nltk.stem import PorterStemmer
# from nltk.tokenize import word_tokenize
# from nltk.corpus import stopwords
# ps = PorterStemmer()
# word = "kill"
# corpus=["kill"]
# if(ps.stem(word) not in corpus):
#     print("Heyyyyy")
# else:
#     print("Logic is correwct")

In [43]:
from xgboost import XGBClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

In [44]:
features_train, features_test, target_train, target_test = train_test_split(X_tfidf, Y, test_size = 0.30, random_state = 10)

In [45]:
xg = XGBClassifier(max_depth=6, n_estimators = 100, eval_metric="mlogloss")

In [19]:
xgb_model = xg.fit(features_train, target_train)

In [20]:
from sklearn.metrics import classification_report
y_pred = xgb_model.predict(features_test)
print(classification_report(target_test, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.66      0.72      1835
           1       0.85      0.92      0.89      3921

    accuracy                           0.84      5756
   macro avg       0.83      0.79      0.81      5756
weighted avg       0.84      0.84      0.83      5756

In [21]:
prediction = xgb_model.predict(features_test.head(10))

In [22]:
print(prediction)

[1 1 0 1 1 1 1 1 1 1]

In [23]:
target_test.head(12)

       Classification
3191                1
6073                1
17036               0
18858               1
2198                1
4136                1
17125               1
16718               0
1486                1
7169                1
6645                0
6335                1

In [24]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import KFold
#define cross-validation method to use
cv = KFold(n_splits=10, random_state=None, shuffle=False) 

#build multiple linear regression model
dct = DecisionTreeClassifier(random_state=1)

dct_model = dct.fit(features_train, target_train)

dct_y_pred = dct.predict(features_test)

In [25]:
print(classification_report(target_test, dct_y_pred))

              precision    recall  f1-score   support

           0       0.59      0.58      0.59      1835
           1       0.81      0.81      0.81      3921

    accuracy                           0.74      5756
   macro avg       0.70      0.70      0.70      5756
weighted avg       0.74      0.74      0.74      5756

In [26]:
from sklearn.svm import LinearSVC
from sklearn.model_selection import StratifiedKFold

svc = LinearSVC()
cv = StratifiedKFold(n_splits=10)
svc_model = svc.fit(features_train, target_train)

svc_y_pred = svc.predict(features_test)

In [27]:
print(classification_report(target_test, svc_y_pred))

              precision    recall  f1-score   support

           0       0.82      0.75      0.78      1835
           1       0.89      0.92      0.91      3921

    accuracy                           0.87      5756
   macro avg       0.85      0.84      0.84      5756
weighted avg       0.87      0.87      0.87      5756

In [48]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(solver='adam', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)
clf.fit(features_train, target_train)

MLPClassifier(alpha=1e-05, hidden_layer_sizes=(5, 2), random_state=1)

In [49]:
mlp_pred = clf.predict(features_test)
print(classification_report(target_test, mlp_pred))

              precision    recall  f1-score   support

           0       0.71      0.83      0.77      1835
           1       0.91      0.84      0.88      3921

    accuracy                           0.84      5756
   macro avg       0.81      0.84      0.82      5756
weighted avg       0.85      0.84      0.84      5756

In [50]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gy_pred = gnb.fit(features_train, target_train).predict(features_test)
print(classification_report(target_test, gy_pred))

              precision    recall  f1-score   support

           0       0.43      0.65      0.52      1835
           1       0.79      0.60      0.68      3921

    accuracy                           0.62      5756
   macro avg       0.61      0.63      0.60      5756
weighted avg       0.67      0.62      0.63      5756

In [51]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=4)
neigh.fit(features_train, target_train)
kn_pred = neigh.predict(features_test)
print(classification_report(target_test, kn_pred))

              precision    recall  f1-score   support

           0       0.80      0.00      0.01      1835
           1       0.68      1.00      0.81      3921

    accuracy                           0.68      5756
   macro avg       0.74      0.50      0.41      5756
weighted avg       0.72      0.68      0.56      5756

In [52]:
from sklearn.linear_model import SGDClassifier
clf = SGDClassifier(loss="hinge", penalty="l2", max_iter=5)
clf.fit(features_train, target_train)
sg_pred = clf.predict(features_test)
print(classification_report(target_test, sg_pred))

              precision    recall  f1-score   support

           0       0.91      0.53      0.67      1835
           1       0.82      0.97      0.89      3921

    accuracy                           0.83      5756
   macro avg       0.86      0.75      0.78      5756
weighted avg       0.85      0.83      0.82      5756